<ion-view title="Dashboard">
  <ion-content class="padding">
    <div ng-if="showTransaction">
    <button ng-if="showTransaction" class="button button-calm button-large button-block" ui-sref="inside.transaction">New transaction</button>
    <div style="height:20px"></div>
    </div>
    <div class="list card">
      <div class="item item-divider text-center">
        Account information
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Account</span>
        <input type="number" ng-model="user.savings">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Monthly income</span>
        <input type="number" ng-model="user.income">
      </label>
      <div class="item text-center" ng-click="updateIncome()">
      Save account information
  </div>
</div>
  </ion-content>
</ion-view>
