<ion-view title="Register">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <input id="usernameRegister" type="text" placeholder="Username" ng-model="user.username">
      </label>
      <label class="item item-input">
        <input id="passwordRegister" type="password" placeholder="Password" ng-model="user.password">
      </label>
      <label class="item item-input">
        <input id="email" type="email" placeholder="Email" ng-model="user.email">
      </label>
    </div>
    <button id="registerButton" class="button button-block button-positive" ng-click="register()">
      Register
    </button>
  </ion-content>
</ion-view>
