<ion-view>
  <ion-nav-title>{{ wallet.name }}</ion-nav-title>
  <ion-content class="padding">
    <div class="progress-wrapper">
      <!--div class="progress ng-cloak">{{ wallet.spent | numberFormat }}<br>{{ wallet.budget }}</div-->
    <round-progress max="wallet.budget" current="wallet.spent" semi="true" color="#003366"></round-progress>
    <div class="progress-data"><span>{{ wallet.spent | numberFormat }} / {{ wallet.budget | numberFormat }}</span></div>
    </div>
    <button class="button button-clear button-full button-small" ng-if="data.showUndo" ng-click="undoLastTransaction()">Undo Last Transaction</button>
  <div class="list">
    <div class="row">
    <label class="col col-75 item item-input">
      <input type="number" placeholder="0" ng-model="data.amount"/>
    </label>
    <label class="col item item-input">
      <input type="tel" placeholder="00" ng-model="data.cents" maxlength="2"/>
    </label>
  </div>
  </div>
    <button class="button button-block button-calm" ng-click="newTransaction()">Save transaction</button>
    <button class="button button-block button-calm" ng-click="deleteWallet()">Delete wallet</button>
  </ion-content>
</ion-view>
