<ion-view title="My Wallets">
  <ion-content class="padding">
    <button class="button button-calm button-block" ui-sref="inside.new_wallet">
      Create new Wallet
    </button>
    <button class="button button-calm button-block" ng-click="deleteWallets()">
      Delete all Wallets
    </button>
    <ul class="list">
      <li class="item" ui-sref="inside.wallet_detail({walletId: wallet.walletId})" ng-repeat="wallet in wallets">
        <span>{{ wallet.name }}: {{ wallet.spent }}/{{ wallet.budget }}</span>
      </li>
    </ul>
  </ion-content>
</ion-view>
