<ion-view title="My Wallets">
  <ion-content class="padding">
    <div class="card">
      <div class="item text-center item-divider">
        Budgeted income
      </div>
      <div class="item text-center">
      {{ data.total }} / {{ user.income }}
      </div>
  </div>
    <button class="button button-calm button-block" ui-sref="inside.new_wallet">
      Create new Wallet
    </button>
    <ul class="list">
      <div ng-repeat="wallet in wallets">
        <li class="item" ui-sref="inside.wallet_detail({walletId: wallet.walletId})" >
          <img ng-if="wallet.icon" class="wallet-img" ng-src="img/wallet_icons/{{ wallet.icon }}.png"/> <span class="wallet-span">{{ wallet.name }}: {{ wallet.spent | numberFormat }}/{{ wallet.budget }}</span>
        </li>
        <wallet-progress wallet="wallet"></wallet-progress>
      </div>
    </ul>
  </ion-content>
</ion-view>
