.logo {
  display: block;
  margin: 0 auto 20px auto;
  overflow-y: hidden;
  max-height: 150px;
  transition: all linear 0.3s;
}

.logo.ng-hide {
  max-height: 0;
  opacity: 0;
}

.trophy {
  margin: 0 auto;
  display: block;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.round-progress-wrapper {
  margin: 10px auto;
}

.round-progress {
  margin: 0 auto;
  display: block;
}

.progress-wrapper {
  position: relative;
}

.progress-data {
  text-align: center;
  padding: 4px;
  font-size: 20px;
}

.wallet-icon {
  transform: translateX(25%) translateY(25%);
}

.wallet-span, .wallet-img {
  vertical-align: middle;
}

.icon-item {
  margin-bottom: 5px;
}

.card {
  margin-top: 0 !important;
}

.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.popup-body input {
  padding: 5px;
}

.transaction-input {
  padding: 0;
}

.platform-android .bar .title {
  line-height: 2.7 !important;
}
