.trophy {
  margin: 0 auto;
  display: block;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.round-progress-wrapper {
  margin: 10px auto;
}

.round-progress {
  margin: 0 auto;
  display: block;
}

.progress-wrapper {
  position: relative;
}

.progress-data {
  text-align: center;
  padding: 4px;
  font-size: 20px;
}

.wallet-icon {
  transform: translateX(25%) translateY(25%);
}

.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.header-item {
  color: black !important;
}

.transaction-input {
  padding: 0;
}
